
body {
    font-family: 'Libre Baskerville', Georgia, serif;
    /* background: #29335C;
    background-size: cover;
    text-align: center; */
    border: 8px solid #494c4e;
    margin: 0px;
  
  }
  .navbar {
    padding: 2.5rem 18rem; 
  }
  li.nav-item {
    font-size: 1.5em;
    line-height: 1em;
}
  .nav-item a {
    font-size: 0.8em;
    color: #494c4e;
    text-decoration: none;
    font-weight: bold;
}
.nav-item a:hover {
    border-bottom: 2px solid #F6AC00;
    opacity: 1;
}
.inner-container {
    max-width: 80em;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
} 
.intro {
    padding-top: 6em;
    padding-bottom: 6em;
}
.intro h1 {
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 1em;
}